<!-- Program:     Alpha-blog
     File:        _form.html.erb
     Programmer:  Nick Iden
     Date:        Sept 17th, 2020
     Comment:
                  This is the form partial used to generate the forms in the catagory view
                  in application.--> 


<%= render 'shared/errors', obj: @category %>

  <!-- form fields generated -->
  <div class="row justify-content-center">
    <div class="col-10">
      <%= form_with(model: @category, class: "shadow-sm p-3 mb-3 bg-white rounded", local: true ) do |f| %>
        <div class="form-group row">
            <%= f.label :name, "Category Name", class: "col-2 col-form-label" %>
            <div class="col-10">
              <%= f.text_field :name, class: "form-control", placeholder: "Enter a name" %> 
            </div>
        </div>
       
        <div class="form-group row justify-content-center">
            <%= f.submit class: "btn btn-outline-success btn-lg" %>
        </div>
<% end %> 
