<!--
File:         Show.html.erb
Project:      Alpha - Blog (Groovebone)
Programmer:   Nick Iden
Date:         Sept 11th, 2020
Comments: 
          This is the show categories profile page selected based on udemy ruby on rails course.
          Eventually this page will list blogs posted for Groovebone.
-->

<h2 class="text-center mt-4">Category: <%= @category.name %></h2>

<% if logged_in? && current_user.admin? %>
     <div class="text-center mt-4">
       <%= link_to "Edit category name", edit_category_path(@category), class: "btn btn-outline-info" %>
     </div>
 <% end %>

  <h3 class="text-center mt-4">Articles</h3>
  
  <div class="apple_pagination">
    <%= will_paginate @articles, :container => false %>
  </div>
 
  <%= render 'articles/article' %>		
  
  <div class="apple_pagination">
    <%= will_paginate @articles, :container => false %>
  </div> 