<h1 class="text-center mt-4">Log in</h1>

<!--
File:         _form.html.erb
Project:      Alpha - Blog (Groovebone)
Programmer:   Nick Iden
Date:         Sept 8th, 2020
Comments: 
          This is the partal of the form used for creating and editing a new users
          to the website.
-->

 

<div class="container">
  

  <!-- form fields generated -->
  <div class="row justify-content-center">
    <div class="col-10">
      <%= form_with(scope: :session, url: login_path, class: "shadow-sm p-3 mb-3 bg-white rounded", local: true ) do |f| %>
        
        
        <div class="form-group row">
            <%= f.label :email, class: "col-2 col-form-label" %>
          <div class="col-10">
            <%= f.email_field :email, class: "form-control",placeholder: "Enter your email address" %>
          </div>
        </div>
        
        <div class="form-group row">
            <%= f.label :password, class: "col-2 col-form-label" %>
          <div class="col-10">
            <%= f.password_field :password, class: "form-control",placeholder: "Enter your password" %>
          </div>
        </div>
        
        <div class="form-group row justify-content-center">
            <%= f.submit "Log in", class: "btn btn-outline-success btn-lg" %>
        </div>
      <% end %> 
    </div>
    <div class="md-3">
      <%= link_to '[ Cancel and return to article listing ]', articles_path, class: "text-info" %>
    </div>
   </div>
</div>